html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(255,137,253);
  background: linear-gradient(0deg, rgba(255,137,253,1) 0%, rgba(118,86,210,1) 100%);
}
.main-heading-box {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
  display: flex;
}
.sub-main-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  font-size: 1em;
  text-align: center;
}
