html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(53,113,145);
  background: linear-gradient(0deg, rgba(53,113,145,1) 0%, rgba(45,38,65,1) 100%);
}
.main-heading-box {
    max-height: 200px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main-heading {
    color: white;
    font-size: 3em;
    text-align-center;
    margin: auto;
}
.sub-main-heading {
  color: white;
  font-size: 1em;
  text-align: center;
  margin: auto;
}
