html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(207,69,204);
  background: linear-gradient(0deg, rgba(207,69,204,1) 0%, rgba(106,69,215,1) 100%);
}
.main-heading-box {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.borded-wrapper {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.main-heading-box img {
  width: 50px;
}
.main-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
  display: flex;
  margin-top: 10px;
}
.sub-main-heading {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255,255,255,0.8);
  font-size: 1em;
  text-align: center;
}
